.tick{
  position:inherit;
  padding-right:10px;
  left:590px;
  top:230px;
 }

#banner h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.link-back {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    font-size: 16px;
    line-height: 1.25;
}

.link-back:link,
.link-back:visited,
.link-back:hover,
.link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.form-control {
  border: 2px solid #6f777b;
}

.heading-xlarge {
    margin-bottom: 0.8em;
    margin-top:0em;
}

.heading-sub {
    margin-top:20px;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #6f777b;
    margin-bottom: 0.42105em;
}

.heading-sub-no-margin {
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #6f777b;
    margin-bottom: 0.42105em;
}

.sidebar {
    margin-top:50px;
}

/* Timeout Modal */


@media (max-width: 640px){
  .timeout-dialog {
    width: 280px !important;
  }
}

.timeout-dialog  ~ .ui-widget-overlay {

  top: 0;
  left: 0;
  background-color: #000;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;

  position: fixed;
  width: 100%;
  height: 100%;
}

.ui-front {
    z-index: 100;
}

html.noScroll {
  overflow: hidden;
}

.timeout-dialog {
  position: absolute;
  padding: 40px 30px 40px 30px;
  border: 1px solid #0b0c0c;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.ui-dialog-titlebar-close{
  display: none;
}

.timeout-dialog .ui-dialog-title {
  display: block;
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

.timeout-dialog .button{
  margin-bottom: 1em;
}

.timeout-dialog .button.button--link{
  margin: 0;
  padding: 0;
}

.timeout-dialog p {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin: .63158em 0;
}

/* Modal Styles */

.md-modal-heading {
    padding: 0;
    padding-bottom: 5px;
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
}

.md-modal-cancel {
    display: inline-block;
    margin-top: 15px;
    text-decoration: underline;
}

/* tabs */
.ated-tabs {
    position: relative;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ated-tabs a {
    text-decoration: none;
    color: #005ea5;
}

.ated-tabs a:hover {
    text-decoration: none;
    color: #2e8aca;
}

.ated-tabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}

.ated-tabs li {
    position: relative;
    margin: 0 2px;
    padding: 20 20px;
    border: 1px solid #FFF;
    background: #ECECEC;
    display: inline-block;
    z-index: 0;
}

.ated-tabs li.selected {
    z-index: 2;
    background: #FFF;
    color: #005ea5;
    border-color: #AAA;
    border: 1px solid #AAA;
    border-bottom-color: #FFF

}

/* errors */
.validation-summary h1 {
    margin-top: 10px;
}

.validation-summary {
    border: 5px solid #b10e1e;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px 15px 15px;
}

.validation-summary-message a, .validation-message a, p.field-error {
    color: #b10e1e;
    font-weight: 700;
    font-size: 19px;
}

.form-field--error .form-control {
    border: 4px solid #b10e1e;
}

.form-control.error {
  border: 5px solid #b10e1e;
  margin-left:2px;
}

.form-field--error .error-notification {
    font-weight: 700;
}

.validation-summary:focus {
    outline: 3px solid #ffbf47;
}

.link-back {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    font-size: 16px;
    line-height: 1.25;
}

.link-back:link,
.link-back:visited,
.link-back:hover,
.link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.form-label-bold {
    font-size: 19px;
    line-height: 1.3157894737;
}

.form-field--error .error-notification {
   font-size: 19px;
}

@media (max-width: 640px) {
    .ated-tabs li {
        width: calc(100% - 10px);
        padding: 10px 0 10px 10px;
    }

    .ated-tabs li {
        margin: 0px;
        margin: 5px 0 0 0;
    }

    .ated-tabs li.selected {
        border: 1px solid #AAA;
    }
}

table td {
    font-size:100%
}

.form-control-indent {
    max-width:60%;
}

.text-bold {
  font-weight: bold;
}

.td-top {
    vertical-align: top;
}
