.tick{
  position:inherit;
  padding-right:10px;
  left:590px;
  top:230px;
 }

#banner h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}

.custom-combobox {
    position: relative;
    display: inline-block;

}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    z-index:100;
    background-color:red;
}


.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.link-back {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    font-size: 16px;
    line-height: 1.25;
}

.link-back:link,
.link-back:visited,
.link-back:hover,
.link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.form-control {
  border: 2px solid #6f777b;
}

.heading-xlarge {
    margin-bottom: 0.8em;
    margin-top:0em;
}

.heading-sub {
    margin-top:20px;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #6f777b;
    margin-bottom: 0.42105em;
}

.heading-sub-no-margin {
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #6f777b;
    margin-bottom: 0.42105em;
}

.sidebar {
    margin-top:50px;
}

/* Timeout Modal */


@media (max-width: 640px){
  .timeout-dialog {
    width: 280px !important;
  }
}

.timeout-dialog  ~ .ui-widget-overlay {

  top: 0;
  left: 0;
  background-color: #000;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;

  position: fixed;
  width: 100%;
  height: 100%;
}

.ui-front {
    z-index: 100;
}

html.noScroll {
  overflow: hidden;
}

.timeout-dialog {
  position: absolute;
  padding: 40px 30px 40px 30px;
  border: 1px solid #0b0c0c;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.ui-dialog-titlebar-close{
  display: none;
}

.timeout-dialog .ui-dialog-title {
  display: block;
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

.timeout-dialog .button{
  margin-bottom: 1em;
}

.timeout-dialog .button.button--link{
  margin: 0;
  padding: 0;
}

.timeout-dialog p {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin: .63158em 0;
}

/* Modal Styles */

.md-modal-heading {
    padding: 0;
    padding-bottom: 5px;
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
}

.md-modal-cancel {
    display: inline-block;
    margin-top: 15px;
    text-decoration: underline;
}

/* tabs */
.ated-tabs {
    position: relative;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ated-tabs a {
    text-decoration: none;
    color: #005EA5;
}

.ated-tabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}

.ated-tabs li {
    position: relative;
    margin: 0 2px;
    padding: 20px;
    border: 1px solid #FFF;
    display: inline-block;
    z-index: 0;
}

.ated-tabs li:hover {
    background: #ECECEC;
}

.ated-tabs li.selected {
    z-index: 2;
    background: #FFF;
    color: #005ea5;
    border-color: #AAA;
    border: 1px solid #AAA;
    border-bottom-color: #FFF

}

.icon-important {
    background-repeat: no-repeat;
    float: left;
    height: 38px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 0px;
    width: 36px;
}

.ated-icon-important-text {
    width:82%;
    float:left;
}

/* errors */
.validation-summary h1 {
    margin-top: 10px;
}

.validation-summary {
    border: 5px solid #b10e1e;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px 15px 15px;
}

.validation-summary-message a, .validation-message a, p.field-error {
    color: #b10e1e;
    font-weight: 700;
    font-size: 19px;
}

.form-field--error .form-control {
    border: 4px solid #b10e1e;
}

.form-control.error {
  border: 5px solid #b10e1e;
  margin-left:2px;
}

.form-field--error .error-notification {
    font-weight: 700;
    color: #b10e1e;
}

.validation-summary:focus {
    outline: 3px solid #ffbf47;
}

.link-back {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    font-size: 16px;
    line-height: 1.25;
}

.link-back:link,
.link-back:visited,
.link-back:hover,
.link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.form-label-bold {
    font-size: 19px;
    line-height: 1.3157894737;
}


.form-field--error {
    background-color: #fff;
    border-left: 3px solid #df3034;
    padding: 0.75em 1em;
    box-sizing: border-box;
    /*padding: 0.63158em 0.84211em 0.63158em 0.84211em;*/
}

.form-field--error .error-notification {
   font-size: 19px;
}

@media (max-width: 640px) {
    .ated-tabs li {
        width: calc(100% - 10px);
        padding: 10px 0 10px 10px;
    }

    .ated-tabs li {
        margin: 0px;
        margin: 5px 0 0 0;
    }

    .ated-tabs li.selected {
        border: 1px solid #AAA;
    }
}

table td {
    font-size:100%
}

.form-control-indent {
    max-width:60%;
}

.text-bold {
  font-weight: bold;
}

.td-top {
    vertical-align: top;
}

.filterbox {
    box-sizing:border-box;
    padding-top: 10px;
    padding-bottom: 15px;
}

.content__body{
    width: 66.6666666667%;
}

.related {
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0 0 0 30px;
    padding-top:5px;
    float:right;
    width:33.3333333333%;
}

@media screen and (max-width: 640px) {

    .related {
        float:None;
        width:100%;
        padding: 0;
    }

    .content__body {
        width:100%;
    }
}

/*  -- new page headers -- */

.page-header {
  clear: both;
  display: table;
}

.page-header-margin {
    margin-top:1.5em
}

.page-header .heading-xlarge {
  margin: .15em 0 0.8em;
}

.page-header .heading-secondary {
  color: #6f777b;
  display: table-header-group;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: 0;
  text-transform: none;
}

@media screen and (min-width: 641px) {
  .page-header .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
    padding-bottom: 6px;
    padding-top: 4px;
  }
}

/*Create additional grid unit*/

.grid-1-6 {
    width: 16.666667%;
}

.grid-2-6 {
    width: 33.333334%;
}

@media screen and (max-width: 640px) {
    .grid-1-6, .grid-2-6 {
        width:100%;
    }
}

/*period-summary page*/
.row-border {
    border-bottom: 1px solid #bfc1c3;
    padding: 0.6em 0em 0.5em 0em;
}
.asp-return, .asp-action, .asp-status  {
    padding: 0.3em 1em 0.3em 0em;
    box-sizing:border-box;

}

@media (min-width: 641px) {
    .asp-action {
        text-align: left;

    }
    .grid-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#tab-clients:focus, #tab-pending:focus {
    outline: 0px solid transparent;
}


