@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(service: String, changeAgentForm: Form[YesNoQuestion], mandateId: String, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("client.change-agent.title")) {
    @pageHeadersAndError(backLink, "pre-heading", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase),
        Some(mandateErrorSummary(changeAgentForm, "yes-no.error.general", Some("client.agent-change.error"))))
    <h1 class="heading-xlarge" id="header">
        @Messages("client.change-agent.header")
    </h1>



    @form(action = routes.ChangeAgentController.submit(service, mandateId)) {

        <div class="form-group" id="removeAgent">
        @mandateInputRadioGroup(
            changeAgentForm("yesNo"),
            Seq("true" -> Messages("radio-yes"),
                "false" -> Messages("radio-no")),
            '_groupClass -> "inline",
            '_legendClass -> "screen-reader-text",
            '_legend -> Messages("client.change-agent.header"),
            '_labelClass -> "block-label",
            '_labelAfter -> true,
            '_trackGA -> true
        )
        </div>

        <div class="form-group">
            <button class="button" id="submit" type="submit">@Messages("confirm-button")</button>
        </div>

    }

}