@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.play.views.html.helpers._

@(service: String, addEmailForm: Form[ClientEmail], mode: Option[String], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("client.collect-email.title"), delegatedService = Some(service)) {
  @pageHeadersAndError(backLink, "pre-heading", Messages("client.collect-email.preheader"), "header", Messages("client.collect-email.header"),
    Some(mandateErrorSummary(addEmailForm, "client.collect-email.error.general")))

    <p id="lede">
      @Messages("client.collect-email.lede")
    </p>

  @form(action = routes.CollectEmailController.submit(service, mode)) {

    @mandateInput(addEmailForm("email"),
      '_label -> Messages("client.collect-email.email.label"),
      '_labelClass -> "visuallyhidden",
      '_showConstraints -> false
    )

    <button class="button" id="submit" type="submit">@Messages("continue-button")</button>

  }

}