@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.play.views.html.helpers._

@(addEmailForm: Form[ClientEmail], mode: Option[String])(implicit request: Request[_])

@main_template(title = Messages("client.collect-email.title")) {

  @mandateErrorSummary(addEmailForm, "client.collect-email.error.general")

  <div class="heading-sub" id="pre-heading">@Messages("client.collect-email.preheader")</div>
  <h1 class="heading-xlarge" id="header">
    @Messages("client.collect-email.header")
  </h1>

  <div class="form-group">
    <span class="lede" id="lede">
      @Messages("client.collect-email.lede")
    </span>
  </div>

  @form(action = routes.CollectEmailController.submit(mode)) {

    <div class="form-group">

      @mandateInput(addEmailForm("email"),
        '_label -> Messages("client.collect-email.email"),
        '_showConstraints -> false
      )

      @mandateInput(addEmailForm("confirmEmail"),
        '_label -> Messages("client.collect-email.confirm-email"),
        '_showConstraints -> false
      )

    </div>

    <div class="form-group">
        <button class="button" id="submit" type="submit">@Messages("continue-button")</button>
    </div>

  }

}
