@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.play.views.html.helpers._

@(service: String, addEmailForm: Form[ClientEmail], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("client.edit-email.title"), delegatedService = Some(service)) {
@pageHeadersAndError(backLink, "pre-heading", Messages("client.edit-email.preheader", service), "header", Messages("client.edit-email.header"),
Some(mandateErrorSummary(addEmailForm, "client.edit-email.error.general")))

<div class="form-group">
    <p id="lede">
      @Messages("client.edit-email.lede")
    </p>
</div>

@form(action = routes.EditEmailController.submit(service)) {

<div class="form-group">

    @mandateInput(addEmailForm("email"),
    '_label -> Messages("client.edit-email.email"),
    '_showConstraints -> false
    )

</div>

<button class="button" id="submit" type="submit">@Messages("agent.edit-mandate-details.submit")</button>


}

}
