@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._

@(agentName: String, service: String)(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._

@main_template(title = Messages("client.agent-confirmation.title")) {

  <div class="transaction-banner--complete" id="banner">
    <h1 id="banner-text"><img class="tick" alt="tick" src='@controllers.routes.Assets.at("images/tick.png")'>@Messages("client.agent-confirmation.banner-text", agentName)</h1>
  </div>

  <span id="notification" class="heading-small">@Messages("client.agent-confirmation.notification")</span>

  <hr>

  <h2 id="heading" class="heading-large">@Messages("client.agent-confirmation.header")</h2>

  <ul id="list" class="bullets">
    <li>@Messages("client.agent-confirmation.your-agent")</li>
    <li>@Html(Messages("client.agent-confirmation.this-authority"))</li>
    <li>@Html(Messages("client.agent-confirmation.sign-in", service.toUpperCase))</li>
  </ul>

  <div class="form-group">
    <button class="button" id="finish_btn" type="submit">@Messages("client.agent-confirmation.finish-signout")</button>
  </div>

}
