@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._

@(mandate: Mandate, service: String, declarationForm: Form[Declaration])(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@pageScripts = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascript/declaration.js")'></script>
}

@main_template(title = Messages("Declaration and consent"), scriptElem = Some(pageScripts)) {

  @mandateErrorSummary(declarationForm, "client.declaration.error.general")

  <h1 id="header" class="heading-xlarge">
    <span class="pre-heading" id="pre-heading">@Messages("client.agent-declaration.pre-heading")</span>
    @Messages("client.agent-declaration.header")
  </h1>

  <p id="declaration-info">
    @Html(Messages("client.agent-declaration.declaration-info"))
  </p>

  <h2 id="declare-title">
    @Messages("client.agent-declaration.declare-header")
  </h2>

  <ul class="bullets">
    <li id="agent-name">@Messages("client.agent-declaration.agent-name", mandate.agentParty.name, service)</li>
    <li id="dec-info">@Messages("client.agent-declaration.information")</li>
  </ul>

  @form(action = routes.MandateDeclarationController.submit(service)) {
    <div class="form-group">
      @mandateSingleCheckBox(declarationForm("agree"),
      '_label -> Messages("i-agree"),
      '_labelClass -> "block-label")
    </div>
    <div class="form-group">
      <button class="button" id="submit" type="submit">@Messages("continue-button")</button>
    </div>

  }

  <div class="form-group">
    <a href="@routes.ReviewMandateController.view(service)" id="back" class="back-link">@Messages("mandate.back")</a>
  </div>

}
