@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._

@(agentName: String, service: String)(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import org.joda.time.LocalDate
@import org.joda.time.format.DateTimeFormat
@import uk.gov.hmrc.agentclientmandate.config.FrontendAppConfig

@main_template(title = Messages("client.agent-confirmation.title"), delegatedService = Some(service)) {

  <div class="transaction-banner--complete" id="banner">
    <h1 id="banner-text"><img class="tick" alt="tick" src='@controllers.routes.Assets.at("images/tick.png")'>@Messages("client.agent-confirmation.banner-text", agentName)</h1>
    <span class="heading-small" id="date">
      @Messages("client.agent-confirmation.banner-confirmation.submitted.date", DateTimeFormat.forPattern("dd MMM yyyy").print(new LocalDate()))
    </span>
  </div>

  <span id="notification" class="heading-small">@Messages("client.agent-confirmation.notification")</span>

  <hr>

  <h2 id="heading" class="heading-large">@Messages("client.agent-confirmation.header")</h2>

  <div class="form-group">
    <ul id="list" class="bullets">
      <li>@Html(Messages("client.agent-confirmation.this-authority"))</li>
      <li>@Html(Messages("client.agent-confirmation.sign-in", service.toUpperCase))</li>
    </ul>
  </div>

  <div class="form-group">
    <form action="@FrontendAppConfig.serviceSignOutUrl(Some(service))">
      <button class="button" id="finish_btn" type="submit">@Messages("client.agent-confirmation.finish-signout")</button>
    </form>
  </div>

}
