@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._

@(mandate: Mandate, backLink:Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._


@main_template(title = Messages("Declaration and consent"), delegatedService = Some(mandate.subscription.service.id)) {
  @pageHeadersAndError(backLink, "pre-heading", Messages("client.agent-declaration.pre-heading"), "header", Messages("client.agent-declaration.header"))

  <p id="declaration-info">
    @Html(Messages("client.agent-declaration.declaration-info", mandate.subscription.service.name.toUpperCase))
  </p>

  <p>
    <span class="heading-medium" id="declare-title">
      @Messages("client.agent-declaration.declare-header")
    </span>
  </p>

  <ul class="bullets">
    <li id="agent-name">@Messages("client.agent-declaration.agent-name", mandate.agentParty.name, mandate.subscription.service.name.toUpperCase)</li>
    <li id="dec-info">@Messages("client.agent-declaration.information")</li>
  </ul>

  @form(action = routes.MandateDeclarationController.submit(mandate.subscription.service.id)) {

    <button class="button" id="submit" type="submit">@Messages("agree-submit")</button>

  }
}
