@import uk.gov.hmrc.agentclientmandate.utils.DateUtils
@import org.joda.time.DateTime
@(service: String, agentName: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.config.FrontendAppConfig

@main_template(title = Messages("client.remove-agent-confirmation.title"), delegatedService = Some(service)) {

    <div class="transaction-banner--complete" id="banner">
        <h1 id="banner-text"> @Messages("client.remove-agent-confirmation.banner-text", agentName,  DateUtils.getDateAsText(DateTime.now)) </h1>
    </div>

    <p id="notification" class="heading-small">@Messages("client.agent-confirmation.notification")</p>

        <div class="form-group">

        <h2 id="heading-1">@Messages("client.remove-agent-confirmation.header")</h2>

        <ul id="list" class="bullets">
            <li>@Messages("client.remove-agent-confirmation.create-return")</li>
            <li>@Messages("client.remove-agent-confirmation.appoint-agent")</li>
        </ul>


    </div>

    <form action="@routes.RemoveAgentController.returnToService">
        <button class="button" id="return_to_service_button" type="submit">@Messages("client.remove-agent-confirmation.service_button", service.toUpperCase)</button>
    </form>

}