@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(service: String, removeAgentForm: Form[YesNoQuestion], agentName: String, mandateId: String, backLink:Option[String])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("client.remove-agent.title"), delegatedService = Some(service)) {
    @pageHeadersAndError(backLink, "pre-header", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase),
        Some(mandateErrorSummary(removeAgentForm, "yes-no.error.general", Some("client.remove-agent.error"))))
    <h1 class="heading-xlarge" id="header">
        @Messages("client.remove-agent.header", agentName, service.toUpperCase)
    </h1>

    @form(action = routes.RemoveAgentController.submit(service, mandateId)) {

        <div class="form-group" id="removeAgent">
        @mandateInputRadioGroup(
            removeAgentForm("yesNo"),
            Seq("true" -> Messages("radio-yes"),
                "false" -> Messages("radio-no")),
            '_groupClass -> "inline",
            '_legendClass -> "visuallyhidden",
            '_legend -> Messages("client.remove-agent.header", agentName, service.toUpperCase),
            '_labelClass -> "block-label",
            '_labelAfter -> true,
            '_trackGA -> true
        )
        </div>

        <button class="button" id="submit" type="submit">@Messages("confirm-button")</button>


    }

}