@import uk.gov.hmrc.agentclientmandate.utils.DateUtils
@import org.joda.time.DateTime
@(service: String, agentName: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.config.FrontendAppConfig

@main_template(title = Messages("client.remove-agent-confirmation.title"), delegatedService = Some(service)) {

    <div class="transaction-banner--complete" id="banner">
        <h1 id="banner-text"> @Messages("client.remove-agent-confirmation.banner-text", agentName) </h1>
        <span class="heading-medium" id="banner-text-date"> @Messages("agent.reject-client-confirmation.banner-text-date", DateUtils.getDateAsText(DateTime.now)) </span>
    </div>

    <p id="notification" class="heading-small">@Messages("client.agent-confirmation.notification")</p>

    <div class="divider--bottom"></div>

    <div class="form-group">

        <p><span id="heading" class="heading-large">@Messages("client.agent-confirmation.header")</span></p>

        <ul id="list" class="bullets">
            <li>@Messages("client.remove-agent-confirmation.create-return")</li>
            <li>@Messages("client.remove-agent-confirmation.appoint-agent")</li>
        </ul>

        <a class="link" id="finish_link" href="@FrontendAppConfig.serviceSignOutUrl(Some(service))">@Messages("client.agent-confirmation.finish-signout")</a>

    </div>

    <form action="@routes.RemoveAgentController.returnToService">
        <button class="button" id="return_to_service_button" type="submit">@Messages("client.remove-agent-confirmation.service_button", service.toUpperCase)</button>
    </form>

}