@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._

@(mandate: Mandate)(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@main_template(title = Messages("client.review-agent.title")) {

  <h1 id="header" class="heading-xlarge">
    <span class="pre-heading" id="pre-heading">@Messages("client.review-agent.preheader")</span>
    @Messages("client.review-agent.header")
  </h1>

   @form(action = routes.ReviewMandateController.submit()) {
     <table>
       <tr>
         <td class="heading-small td-height" id ="service">@Messages("client.review-agent.service-header")</td>
         <td id ="service-name">@mandate.subscription.service.name.toUpperCase</td>
       </tr>
       <tr>
         <td class="heading-small td-height" id ="agency">Agency</td>
         <td id ="agency-name">@mandate.agentParty.name</td>
       </tr>
       <tr>
         <td class="heading-small td-height" id="agent-reference-label">@Messages("client.review-agent.agent-reference")</td>
         <td>@mandate.id</td>
         <td><a href="#">@Messages("edit-link")</a></td>
       </tr>
       <tr>
         <td class="heading-small td-height" id="email-address-label">@Messages("client.review-agent.email")</td>
         @mandate.clientParty.map { clientParty =>
         <td>@clientParty.contactDetails.email</td>
         }
         <td><a href="#">@Messages("edit-link")</a></td>
       </tr>
     </table>

     <div class="form-group">
       <button class="button" id="submit" type="submit">
        @Messages("client.review-agent.submit")
       </button>
     </div>
   }

  <div class="form-group">
    <a href="@routes.SearchMandateController.view()" id="back" class="back-link">@Messages("mandate.back")</a>
  </div>

}
