@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._

@(service: String, mandate: Mandate, backLink:Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@main_template(title = Messages("client.review-agent.title"), delegatedService = Some(mandate.subscription.service.id)) {

@pageHeadersAndError(backLink, "pre-heading", Messages("client.review-agent.preheader"))
<h1 class="heading-xlarge" id="header">
  @Messages("client.review-agent.header")
</h1>

   @form(action = routes.ReviewMandateController.submit(mandate.subscription.service.id)) {
     <table>
       <tr>
         <th id ="service">@Messages("client.review-agent.service-header")</th>
         <td id ="service-name">@mandate.subscription.service.name.toUpperCase</td>
         <td></td>
       </tr>
       <tr>
         <th id ="agency">Agency</th>
         <td id ="agency-name">@mandate.agentParty.name</td>
         <td></td>
       </tr>
       <tr>
         <th id="agent-reference-label">@Messages("client.review-agent.agent-reference")</th>
         <td>@mandate.id</td>
         <td>
           <a href="@routes.SearchMandateController.view(service)" id ="edit-agent-reference-number" data-journey-click="agent-client-mandate:click:edit-agent-reference-number">@Messages("edit-link")
             <span class="screen-reader-text">@Messages("client.review-agent.agent-reference")</span>
           </a>
         </td>
       </tr>
       <tr>
         <th id="email-address-label">@Messages("client.review-agent.email")</td>
         @mandate.clientParty.map { clientParty =>
         <td>@clientParty.contactDetails.email</td>
         }
         <td>
           <a href='@routes.CollectEmailController.edit(service)' id ="edit-agent-email" data-journey-click="agent-client-mandate:click:edit-agent-email ">@Messages("edit-link")
             <span class="screen-reader-text">@Messages("client.review-agent.email")</span>
           </a>
         </td>
       </tr>
     </table>

       <button class="button" id="submit" type="submit">
        @Messages("client.review-agent.submit")
       </button>

   }

}
