@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._

@(mandate: Mandate)(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@main_template(title = Messages("client.review-agent.title"), delegatedService = Some(mandate.subscription.service.id)) {


<div class="heading-sub" id="pre-heading">@Messages("client.review-agent.preheader")</div>
<h1 class="heading-xlarge" id="header">
  @Messages("client.review-agent.header")
</h1>

   @form(action = routes.ReviewMandateController.submit()) {
     <table>
       <tr>
         <th id ="service">@Messages("client.review-agent.service-header")</th>
         <td id ="service-name">@mandate.subscription.service.name.toUpperCase</td>
         <td></td>
       </tr>
       <tr>
         <th id ="agency">Agency</th>
         <td id ="agency-name">@mandate.agentParty.name</td>
         <td></td>
       </tr>
       <tr>
         <th id="agent-reference-label">@Messages("client.review-agent.agent-reference")</th>
         <td>@mandate.id</td>
         <td><a href="@routes.SearchMandateController.view()">@Messages("edit-link")</a></td>
       </tr>
       <tr>
         <th id="email-address-label">@Messages("client.review-agent.email")</td>
         @mandate.clientParty.map { clientParty =>
         <td>@clientParty.contactDetails.email</td>
         }
         <td><a href="@routes.CollectEmailController.view()">@Messages("edit-link")</a></td>
       </tr>
     </table>

     <div class="form-group">
       <button class="button" id="submit" type="submit">
        @Messages("client.review-agent.submit")
       </button>
     </div>
   }

}
