@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(mandateRefForm: Form[MandateReference])(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@main_template(title = Messages("client.search-mandate.title")) {

@mandateErrorSummary(mandateRefForm, "client.search-mandate.error.general")

  <h1 id="header" class="heading-xlarge">
    <span class="pre-heading" id="pre-heading">@Messages("client.search-mandate.title")</span>
    @Messages("client.search-mandate.header")
  </h1>

  @form(action = routes.SearchMandateController.submit()) {

    <div class="form-group">

      @mandateInput(mandateRefForm("mandateRef"),
      '_hintText -> Messages("client.search-mandate.hint"),
      '_fieldsetAttributesHelpQuestion -> "search-mandate-help-question",
      '_fieldsetQuestion -> Messages("client.search-mandate.help.question"),
      '_HelpQuestionAnswer -> Html(Messages("client.search-mandate.help.answer")),
      '_showConstraints -> false)

      <button class="button" id="submit" type="submit">@Messages("continue-button")</button>

    </div>
  }
}