@import uk.gov.hmrc.agentclientmandate.controllers.client.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@(searchMandateForm: Form[SearchClientMandate])(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@implicitFormInstance = @{ Some(searchMandateForm) }

@main_template(title = Messages("client.search-mandate.title")) {
  <h1 id="header" class="heading-xlarge">
    @Messages("client.search-mandate.header")
  </h1>

  @mandateErrorSummary(searchMandateForm, "client.search-mandate.error.general")

  @form(action = routes.ClientSearchMandateController.submit()) {

    @mandateInput(searchMandateForm("id"),
      '_label -> Messages("client.search-mandate.field.id.label"),
      '_showConstraints -> false)

    <div class="form-group">
      <button class="button" id="submit" type="submit">@Messages("submit-button")</button>
    </div>

  }

}
