@import uk.gov.hmrc.play.views.html.helpers._

@(agentName: String, removeAgentUrl: String)

<div class=" grid-wrapper attorneyContainer">
    <div class="attorneyBanner grid attorneyBanner--client-request-requested" id="client-banner-text">
        <div class="grid grid-2-3">
            <div class="inner-block">
                @Html(Messages("client.banner.text", agentName))
            </div>
        </div>
        <div class="grid grid-1-3">
            <div class="inner-block">
                <a href="@removeAgentUrl" id="client-banner-text-link" class="banner-links">@Messages("client.banner.link-text")</a>
            </div>
        </div>
    </div>
</div>