@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@(identificationForm: Form[Identification], service: String, displayDetails: BusinessRegistrationDisplayDetails, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.controllers.auth.ExternalUrls

@pageScripts = {
<script type="text/javascript" src='@uk.gov.hmrc.agentclientmandate.controllers.routes.AssetsController.at("javascript/mandate-country-auto-complete.js")'></script>
<script>
        $(document).ready(function() {
            countryCodeAutoComplete("#registered-country")
            var classOfSelect = $('#registered-country_').attr('class');
            $("#registered-country").addClass(classOfSelect)
            var labelText = $("#registered-country_field").text();
            var divId = "registered-country_div"
            var fieldId = "registered-country_"
            createLabelForHiddenSelect(divId, fieldId, labelText);
        });
    </script>
}


@implicitFormInstance = @{ Some(identificationForm) }

@main_template(title = Messages("agent.edit-details.title"),scriptElem = Some(pageScripts), delegatedService = Some(service)) {

@pageHeadersAndError(backLink, "pre-header", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase))
<h1 class="heading-xlarge" id="header">
    @Messages("agent.edit-mandate-details.ocr.header")
</h1>

@mandateErrorSummary(identificationForm, "agent.edit-mandate-details-error.general")


@form(action = routes.UpdateOcrDetailsController.submit(service)) {

  <div class="form-group">

  <div id="non-uk-reg-form">

    @mandateInput(identificationForm("identification.idNumber"),
    '_label ->  Html(Messages("agent.edit-mandate-details.idNumber")),
    '_labelClass -> "form-label",
    '_id -> "businessName",
    '_showConstraints -> false)

    @mandateNewDropdown(identificationForm("identification.issuingCountryCode"),
    elementOptions = displayDetails.listOfIsoCode,
    displayEmptyValue = true,
    '_id -> "businessAddress.country",
    '_emptyValueText -> Messages("agent.edit-mandate-detail.country.select"),
    '_label -> Html(Messages("agent.edit-mandate-details.issuingCountry")))

    @mandateInput(identificationForm("identification.issuingInstitution"),
    '_label ->  Html(Messages("agent.edit-mandate-details.issuingIntitution")),
    '_id -> "businessAddress.line_1",
    '_showConstraints -> false)

  </div>

  <button class="button" id="submit" type="submit">@Messages("save-button")</button>

  </div>
  }

}
