@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@(agentDetailsForm: Form[EditAgentAddressDetails], service: String, displayDetails: BusinessRegistrationDisplayDetails, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.controllers.auth.ExternalUrls

@implicitFormInstance = @{ Some(agentDetailsForm) }

@main_template(title = Messages("agent.edit-details.title"), delegatedService = Some(service)) {

@backLinkAndSubHeader(backLink, "pre-header", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase))
<h1 class="heading-xlarge" id="header">
    @Messages("agent.edit-mandate-details.header", service)
</h1>

@mandateErrorSummary(agentDetailsForm, "agent.edit-mandate-details-error.general")


@form(action = routes.UpdateAddressDetailsController.submit(service)) {

  <div class="form-group">

  <div id="non-uk-reg-form">

    @mandateInput(agentDetailsForm("agentName"),
    '_label ->  Html(Messages("agent.edit-mandate-details.agentName")),
    '_labelClass -> "form-label",
    '_id -> "businessName",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine1"),
    '_label ->  Html(Messages("agent.edit-mandate-details.address")),
    '_id -> "businessAddress.line_1",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine2"),
    '_label ->  Html(Messages("agent.edit-mandate-details.line_2")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_2",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine3"),
    '_label ->  Html(Messages("agent.edit-mandate-details.line_3")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_3",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine4"),
    '_label ->  Html(Messages("agent.edit-mandate-details.line_4")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_4",
    '_showConstraints -> false)

    @mandateDropdown(agentDetailsForm("address.countryCode"),
    elementOptions = displayDetails.listOfIsoCode,
    displayEmptyValue = true,
    '_id -> "businessAddress.country",
    '_emptyValueText -> Messages("agent.edit-mandate-detail.country.select"),
    '_label -> Html(Messages("agent.edit-mandate-details.country")))


  </div>

  <button class="button" id="submit" type="submit">@Messages("save-button")</button>

  </div>
  }

}
