@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@(agentDetailsForm: Form[EditAgentAddressDetails], service: String, displayDetails: BusinessRegistrationDisplayDetails, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.controllers.auth.ExternalUrls

@pageScripts = {
<script src='@uk.gov.hmrc.agentclientmandate.controllers.routes.AssetsController.at("javascript/mandate-country-auto-complete.js")'></script>
<script>
    $(document).ready(function() {
      countryCodeAutoComplete("#businessAddress\\.country")
      var classOfSelect1 = $('#businessAddress\\.country_').attr('class');
      $("#businessAddress\\.country").addClass(classOfSelect1)
      var labelText1 = $("#businessAddress\\.country_field").text();
      var divId1 = "businessAddress\\.country_div"
      var fieldId1 = "businessAddress.country_"
      createLabelForHiddenSelect(divId1, fieldId1, labelText1);
    });
</script>
}


@implicitFormInstance = @{ Some(agentDetailsForm) }

@main_template(title = Messages("agent.edit-details.title"), scriptElem = Some(pageScripts), delegatedService = Some(service)) {

@pageHeadersAndError(backLink, "pre-header", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase), "header", Messages("agent.edit-mandate-details.address.header"))

@mandateErrorSummary(agentDetailsForm, "agent.edit-mandate-details-error.general")


@form(action = routes.UpdateAddressDetailsController.submit(service)) {

  <div class="form-group">

  <div id="non-uk-reg-form">

    @mandateInput(agentDetailsForm("agentName"),
    '_label ->  Html(Messages("agent.edit-mandate-details.agentName")),
    '_labelClass -> "form-label",
    '_labelClass -> "form-label-bold",
    '_id -> "businessName",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine1"),
    '_label ->  Html(Messages("agent.edit-mandate-details.address")),
    '_id -> "businessAddress.line_1",
    '_labelClass -> "form-label-bold",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine2"),
    '_label ->  Html(Messages("agent.edit-mandate-details.line_2")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_2",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine3"),
    '_label ->  Html(Messages("agent.edit-mandate-details.line_3")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_3",
    '_showConstraints -> false)

    @mandateInput(agentDetailsForm("address.addressLine4"),
    '_label ->  Html(Messages("agent.edit-mandate-details.line_4")),
    '_labelClass -> "visuallyhidden",
    '_id -> "businessAddress.line_4",
    '_showConstraints -> false)

    @mandateNewDropdown(agentDetailsForm("address.countryCode"),
    elementOptions = displayDetails.listOfIsoCode,
    displayEmptyValue = true,
    '_id -> "businessAddress.country",
    '_emptyValueText -> Messages("agent.edit-mandate-detail.country.select"),
    '_labelClass -> "form-label-bold",
    '_label -> Html(Messages("agent.edit-mandate-details.country")))


  </div>

  <button class="button" id="submit" type="submit">@Messages("save-button")</button>

  </div>
  }

}
