@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.models.AgentDetails

@(agentDetails: AgentDetails, service: String)(implicit request: Request[_], messages: Messages)

<section class="section section--blue-top">

   <h2 class="heading-small" id="sidebar.agentname">@agentDetails.agentName</h2>

   <div class="form-group">
      <ul>
         <li class="font-xsmall" id="sidebar.addressLine1">@agentDetails.addressDetails.addressLine1</li>
         <li class="font-xsmall" id="sidebar.addressLine2">@agentDetails.addressDetails.addressLine2</li>
         <li class="font-xsmall" id="sidebar.addressLine3">@agentDetails.addressDetails.addressLine3</li>
         <li class="font-xsmall" id="sidebar.addressLine4">@agentDetails.addressDetails.addressLine4</li>
         <li class="font-xsmall" id="sidebar.postcode">@agentDetails.addressDetails.postalCode</li>
         <li class="font-xsmall" id="sidebar.countrycode">@agentDetails.addressDetails.countryCode</li>

         <li class="font-xsmall"><a href="@uk.gov.hmrc.agentclientmandate.controllers.agent.routes.AgencyDetailsController.view(service)" id="change-details-link">Hello</a></li>

      </ul>
   </div>

</section>
