@import uk.gov.hmrc.agentclientmandate.service._
@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.utils.AgentClientMandateUtils._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._


@(service: String, mandates: Mandates, agentDetails: AgentDetails, screenReaderText: String)(implicit request: Request[_], messages: Messages)


<span class="screen-reader-text">@screenReaderText</span>

@main_template(title = Messages("client.summary.title", service.toUpperCase), sidebarLinks = Some(_agentSummary_sidebar(agentDetails, service)) , delegatedService = Some(service)){

  <div class="heading-sub" id="pre-header">@agentDetails.agentName</div>
  <h1 class="heading-xlarge" id="header">
    @Messages("client.summary.title", service.toUpperCase)
  </h1>

  <div class="form-group">
    <a href="@routes.CollectAgentEmailController.addClient(service)" id="add-client-link" class="link" tabindex="0">@Messages("client.summary.add-client")</a>
  </div>

  <div class="form-group">
    <ul class="ated-tabs">
      <li id="clients" class="selected heading-small">
          @Messages("client.summary.client-active.title", mandates.activeMandates.size)
      </li>
      @if(!mandates.pendingMandates.isEmpty){
      <li id="pending-clients" class="heading-small">
        <a href="@routes.AgentSummaryController.view(service, Some("pending-clients"))" id="view-pending-clients" data-journey-click="agent-client-mandate:click:view-pending-clients">@Messages("client.summary.client-pending.title", mandates.pendingMandates.size)</a>
      </li>
      }
    </ul>
  </div>

    <div class="form-group">
      <table>
        <tbody>
        @for((active, index) <- mandates.activeMandates.zipWithIndex) {
        <tr>
          <td id="client-name-@index">@active.clientDisplayName</td>
          <td>
            <a id="edit-client-link-@index" href="@routes.EditMandateDetailsController.view(service, active.id)" data-journey-click="agent-client-mandate:click:edit-client-link">
              @Messages("Edit") <span class="screen-reader-text">@active.clientDisplayName</span>
            </a>
          </td>
          <td class="tdRight">
            <a id="client-link-@index"
               href='@routes.AgentSummaryController.doDelegation(service, active.id)' data-journey-click="agent-client-mandate:click:client-link">@Messages("client.summary.client-view")
              <span class="screen-reader-text">@Messages("client.summary.client-details-for") @active.clientDisplayName</span>
            </a>
          </td>
        </tr>
        }
        </tbody>
      </table>
    </div>

}
