@import uk.gov.hmrc.agentclientmandate.service._
@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.utils.AgentClientMandateUtils._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._


@(service: String, mandates: Mandates, agentDetails: AgentDetails, clientsCancelled: Option[Seq[String]], screenReaderText: String, filterClientsForm: Form[FilterClients], isUpdate: Boolean = false)(implicit request: Request[_], messages: Messages)

@implicitFormInstance = @{ Some(filterClientsForm) }

<span class="screen-reader-text">@screenReaderText</span>

@main_template(title = Messages("client.summary.title", service.toUpperCase), sidebarLinks = if(isUkAgent(agentDetails)) None else Some(_agentSummary_sidebar(agentDetails, service)), delegatedService = Some(service)){

<header class="page-header page-header-margin">
  <h1 id="header" class="heading-xlarge">@Messages("client.summary.title", service.toUpperCase)</h1>
  <p id="pre-header" class="heading-secondary"><span class="visuallyhidden">@Messages("ated.screen-reader.name") </span>@agentDetails.agentName</p>
</header>

@clientsCancelledPartial(clientsCancelled, service)

<div class="form-group">
  <a href="@routes.CollectAgentEmailController.addClient(service)" id="add-client-link" class="link" tabindex="0">@Messages("client.summary.add-client")</a>
</div>

<div class="form-group">
  <ul class="ated-tabs">
    <li id="clients" class="selected heading-small">
        @Messages("client.summary.client-active.title", mandates.activeMandates.size) <span class="visuallyhidden">@Messages("selected")</span>
    </li>
    @if(!mandates.pendingMandates.isEmpty){
    <li id="pending-clients" class="heading-small">
      <a href="@routes.AgentSummaryController.view(service, Some("pending-clients"))" id="view-pending-clients" data-journey-click="agent-client-mandate:click:view-pending-clients">@Messages("client.summary.client-pending.title", mandates.pendingMandates.size)
      </a>
    </li>
    }
  </ul>
</div>

@if(mandates.activeMandates.size >= 15 || isUpdate) {
  <div class="form-group">
    @if(isUpdate) {
      <details open>
    } else {
      <details>
    }
      <summary>
            <span id="filter-clients" class="summary">
              @Messages("client.summary.filter-clients")
            </span>
      </summary>

      <div class="filterbox">
        @form(action = routes.AgentSummaryController.update(service)) {

        <div class="form-field">
          @mandateInput(filterClientsForm("displayName"),
          '_label -> Messages("client.summary.filter-display_name"),
          '_labelClass -> "form-label-bold",
          '_showConstraints -> false)
        </div>

        <div class="form-field">
          @mandateInputRadioGroup(filterClientsForm("showAllClients"),
          Seq("allClients" -> Messages("client.summary.filter-show-all-clients"),
              "myClients" -> Messages("client.summary.filter-show-only-my-clients")),
          '_groupClass -> "",
          '_legend -> Messages("agent.overseas-client-question.header"),
          '_legendClass -> "screen-reader-text",
          '_labelClass -> "block-label",
          '_labelAfter -> true,
          '_trackGA -> true
          )
        </div>

        <button id="filterClients-btn" name="filterClients" class="button" id="submit" type="submit">@Messages("client.summary.filter-update")</button>

        }
      </div>
      <hr>
    </details>
  </div>
}

  <div class="form-group">

    @if(mandates.activeMandates.size > 0) {
      @for((active, index) <- mandates.activeMandates.zipWithIndex) {

        <div class="grid-wrapper row-border">
          <div class="grid grid-1-2 asp-return">
            <span id="client-name-@index">@active.clientDisplayName</span>
          </div>

          <div class="grid grid-1-4 asp-status">
            <a id="edit-client-link-@index" href="@routes.EditMandateDetailsController.view(service, active.id)"
            data-journey-click="agent-client-mandate:click:edit-client-link">
              @Messages("Edit")
            <span class="visuallyhidden">@Messages("client.summary.client-edit-details-for") @active.clientDisplayName</span>
            </a>
          </div>

          <div class="grid grid-1-4 asp-action">
            <a id="client-link-@index" href='@routes.AgentSummaryController.doDelegation(service, active.id)'
            data-journey-click="agent-client-mandate:click:client-link">
              @Messages("client.summary.client-view")
            <span class="visuallyhidden">@Messages("client.summary.client-details-for") @active.clientDisplayName</span>
            </a>
          </div>
        </div>
          }

          } else {


      <span id="filter-no-results" class="heading-medium">@Messages("client.summary.no_clients_found")</span>
    }
    </div>


}


