
@(clientsCancelled: Option[Seq[String]], service: String)(implicit request: Request[_], messages: Messages)

@if(clientsCancelled.isDefined) {
<div class="form-group">
    <div class="highlight-message highlight-message--full-width">
        <h2 id="client-cancelled-title">@Messages("client.summary.client-cancelled.title")</h2>

        <p>@Messages("client.summary.client-cancelled.text", service.toUpperCase)</p>

        @for((name, index) <- clientsCancelled.get.zipWithIndex) {
        <p id="client-cancelled-name-@index">@name</p>
        }
    </div>
</div>
}