
@(clientsCancelled: Option[Seq[String]], service: String)(implicit request: Request[_], messages: Messages)

@if(clientsCancelled.isDefined) {
<div class="form-group">

        <h2 class="heading-medium" id="client-cancelled-title">@Messages("client.summary.client-cancelled.text", service.toUpperCase)</h2>
        <ul class="list list-bullet">
        @for((name, index) <- clientsCancelled.get.zipWithIndex) {

        <li id="client-cancelled-name-@index">@name</li>

        }
        </ul>

        <p>@messages("client.summary.client-cancelled.text.28days")</p>
</div>
}