@import uk.gov.hmrc.agentclientmandate.service._
@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.utils.AgentClientMandateUtils._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.models.Mandate

@(service: String, mandates: Mandates, agentDetails: AgentDetails, clientsCancelled: Option[Seq[String]], screenReaderText: String)(implicit request: Request[_], messages: Messages)

@pageScripts = {
<script src='@uk.gov.hmrc.agentclientmandate.controllers.routes.AssetsController.at("javascript/agent-summary.js")'></script>
}

<span class="screen-reader-text">@screenReaderText</span>

@main_template(title = Messages("client.summary.title", service.toUpperCase), sidebarLinks = if(isUkAgent(agentDetails)) None else Some(_agentSummary_sidebar(agentDetails, service)), scriptElem = Some(pageScripts), delegatedService = Some(service)){

<header class="page-header page-header-margin">
  <h1 id="header" class="heading-xlarge">@Messages("client.summary.title", service.toUpperCase)</h1>
  <p id="pre-header" class="heading-secondary"><span class="visuallyhidden">@Messages("ated.screen-reader.name") </span>@agentDetails.agentName</p>
</header>

  @clientsCancelledPartial(clientsCancelled, service)

  <div class="form-group">
    <a href="@routes.CollectAgentEmailController.addClient(service)" id="add-client-link" class="link" tabindex="0" data-journey-click="agent-client-mandate:click:add-client-link">@Messages("client.summary.add-client")</a>
  </div>

  <div class="form-group">
    <ul class="ated-tabs">
      @if(mandates.activeMandates.size > 0){
      <li id="clients" class="heading-small">
        <a href="@routes.AgentSummaryController.view(service)" id="view-clients">@Messages("client.summary.client-active.title", mandates.activeMandates.size)</a>
      </li>
      }
      <li id="pending-clients" class="selected heading-small">
        @Messages("client.summary.client-pending.title", mandates.pendingMandates.size) <span class="visuallyhidden">@Messages("selected")</span>
      </li>
    </ul>
  </div>

  <div class="form-group">
    @for((pending, index) <- mandates.pendingMandates.zipWithIndex) {

      <div class="grid-wrapper row-border">
        <div class="grid grid-1-4 asp-return">
          <span id="pending-client-data-@index">@pending.clientDisplayName</span>
        </div>

    @if(checkStatus(pending.currentStatus.status) == "Await" || checkStatus(pending.currentStatus.status) == "Pending"){

        <div class="grid grid-1-4 asp-action">
          <a id="edit-pending-client-link-@index" href="@routes.EditMandateDetailsController.view(service, pending.id)"
            data-journey-click="agent-client-mandate:click:edit-pending-client-link">
            @Messages("Edit")
          <span class="screen-reader-text">@pending.clientDisplayName</span>
          </a>
        </div>

        } else {

          <div class="grid grid-1-4 asp-action">
            <a id="reject-client-link-@index" href="@routes.RejectClientController.view(service, pending.id)" data-journey-click="agent-client-mandate:click:reject-client-link">
              @Messages("client.summary.client-reject")
            <span class="screen-reader-text">@pending.clientDisplayName</span>
            </a>
          </div>

        }
        @checkStatus(pending.currentStatus.status) match {
          case "Await" => {
            <div class="grid grid-1-4 asp-status">
              <span>@Messages("client.summary.client.pending-status")</span>
            </div>
          }
          case "Pending" => {
            <div class="grid grid-1-4 asp-status">
            <span>@Messages("client.summary.client-pending")</span>
            </div>
          }
          case _ => {
            <div class="grid grid-1-4 asp-action" id="accept-client">
              <a href="@routes.AgentSummaryController.activate(service, pending.id)" data-journey-click="agent-client-mandate:click:accept-client"
              id="accept-@(index + 1)">
                @Messages("client.summary.client-accept") <span class="screen-reader-text">@pending.clientDisplayName</span>
              </a>
            </div>
          }

        }
      </div>
    }
  </div>
}
