@import uk.gov.hmrc.agentclientmandate.service._
@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.utils.AgentClientMandateUtils._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.models.Mandate

@(service: String, mandates: Mandates, agentDetails: AgentDetails, screenReaderText: String)(implicit request: Request[_], messages: Messages)

@pageScripts = {
<script type="text/javascript" src='@uk.gov.hmrc.agentclientmandate.controllers.routes.AssetsController.at("javascript/agent-summary.js")'></script>
}


<span class="screen-reader-text">@screenReaderText</span>

@main_template(title = Messages("client.summary.title", service.toUpperCase), scriptElem = Some(pageScripts), delegatedService = Some(service)){

  <div class="heading-sub" id="pre-header">@agentDetails.agentName</div>
  <h1 class="heading-xlarge" id="header">
    @Messages("client.summary.title", service.toUpperCase)
  </h1>


  <div class="form-group">
    <a href="@routes.CollectAgentEmailController.addClient(service)" id="add-client-link" class="link" tabindex="0" data-journey-click="agent-client-mandate:click:add-client-link">@Messages("client.summary.add-client")</a>
  </div>

  <div class="form-group">
    <ul class="ated-tabs">
      @if(mandates.activeMandates.size > 0){
      <li id="clients" class="heading-small">
        <a href="@routes.AgentSummaryController.view(service)" id="view-clients">@Messages("client.summary.client-active.title", mandates.activeMandates.size)</a>
      </li>
      }
      <li id="pending-clients" class="selected heading-small">
        @Messages("client.summary.client-pending.title", mandates.pendingMandates.size)
      </li>
    </ul>
  </div>


<div class="form-group">
      <table>
        <thead>
        <tr>
          <th id="client-name">@Messages("client.summary.client-name.title")</th>
          <th id="client-action">@Messages("client.summary.client-action.title")</th>
          <td id="noHeader2" colspan="2">  </td>
        </tr>
        </thead>
        <tbody>
        @for((pending, index) <- mandates.pendingMandates.zipWithIndex) {
        <tr id="pending-client-data-@index">
          <td>@pending.clientDisplayName</td>
          @if(checkStatus(pending.currentStatus.status) == "Await" || checkStatus(pending.currentStatus.status) == "Pending"){
          <td>
            <a id="edit-pending-client-link-@index" href="@routes.EditMandateDetailsController.view(service, pending.id)" data-journey-click="agent-client-mandate:click:edit-pending-client-link">
              @Messages("Edit") <span class="screen-reader-text">@pending.clientDisplayName</span>
            </a>
          </td>
          } else {
          <td>
            <a id="reject-client-link-@index" href="@routes.RejectClientController.view(service, pending.id)"data-journey-click="agent-client-mandate:click:reject-client-link">
              @Messages("client.summary.client-reject") <span class="screen-reader-text">@pending.clientDisplayName</span>
            </a>
          </td>
          }
          @checkStatus(pending.currentStatus.status) match {
            case "Await" => { <td>@Messages("client.summary.client.pending-status")</td> }
            case "Pending" => { <td>@Messages("client.summary.client-pending")</td> }
            case _ => { <td id ="accept-client">
                          <a href="@routes.AgentSummaryController.activate(service, pending.id)" data-journey-click="agent-client-mandate:click:accept-client"
                             id="accept-@(index+1)">
                            @Messages("client.summary.client-accept") <span class="screen-reader-text">@pending.clientDisplayName</span>
                          </a>
                        </td> }
          }
        </tr>
        }
        </tbody>
      </table>
    </div>


}
