@(form: Form[_], errorMessageFieldPrefix: String, formErrorMessageParam: Option[String] = None, maxErrorsToShow: Int = 999)(implicit messages: Messages)

<script type="text/javascript" src='@uk.gov.hmrc.agentclientmandate.controllers.routes.AssetsController.at("javascript/error-summary.js")'></script>

@if(form.hasGlobalErrors || form.hasErrors) {
  <div id="errors" tabindex="-1" role="group" aria-labelledby="form-error-heading" class="validation-summary">
    <h1 class="heading-medium error-summary-heading" id="errorMessageHeadingText">@Messages("agent-client-mandate.error.summaryHeader")</h1>
    <ul class="error-summary-list">
      @form.errors.zipWithIndex.map { case (error, i) =>
        @defining(
          error.args.nonEmpty match {
            case true =>
              if (error.key.nonEmpty) {
                error.key + error.args.fold("") ( _ + "." + _ )
              } else {
                error.args.head.toString
              }
            case _ => error.key
          }
        ) { anchor :String =>
            @if(i+1 <= maxErrorsToShow) {
              <li class="validation-summary-message"
                  role="tooltip"
                  data-journey="search-page:error:@error.key" id='@anchor.replaceAll("""[\.\[\]]""", "-")-error'
              >
                <a href="#@anchor" class="error-list" data-focuses="@error.key">
                  @{
                     formErrorMessageParam match {
                      case Some(x) => Messages(s"$errorMessageFieldPrefix.$anchor", Messages(formErrorMessageParam.get))
                      case None => Messages(s"$errorMessageFieldPrefix.$anchor")
                    }
                  }
                </a>
              </li>
            }
          }
      }
    </ul>
  </div>

}
