@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@(agentDetails: AgentDetails, service: String, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.controllers.auth.ExternalUrls


@main_template(title = Messages("agent.edit-details.title"), delegatedService = Some(service)) {

@pageHeadersAndError(backLink, "pre-header", Messages("agent.edit-details.sub-header"))
<h1 class="heading-xlarge" id="company-details-header">@Messages("agent.edit-details.header")</h1>
<table>
    <tr>
        <td id="agency-name-header" class="text-bold">@Messages("agent.edit-details.agency.name")</td>
        <td id="agency-name-val" colspan="2">@agentDetails.agentName</td>
        <td valign="top">
            <a href='@routes.UpdateAddressDetailsController.view(service)' id="agency-name-edit" aria-label='@Messages("ated.review-details.edit-registered-address.title")'>@Messages("edit-link")
                <span class="screen-reader-text">@Messages("edit-link")</span>
            </a>
        </td>
    </tr>
    <tr>
        <td id="agency-address-header" class="text-bold td-top">@Messages("agent.edit-details.registered.address")</td>
        <td id="agency-address-val" colspan="2">
            <div class="form-group">
                <div id="registered-address-line-1">@agentDetails.addressDetails.addressLine1</div>
                <div id="registered-address-line-2">@agentDetails.addressDetails.addressLine2</div>
                <div id="registered-address-line-3">@agentDetails.addressDetails.addressLine3</div>
                <div id="registered-address-line-4">@agentDetails.addressDetails.addressLine4</div>
                <div id="registered-postcode">@agentDetails.addressDetails.postalCode</div>
                <div id="registered-country">@agentDetails.addressDetails.countryCode</div>
            </div>
        </td>
        <td valign="top">
            <a href='@routes.UpdateAddressDetailsController.view(service)' id="agency-address-edit" aria-label='@Messages("ated.review-details.edit-registered-address.title")'>@Messages("edit-link")
                <span class="screen-reader-text">@Messages("edit-link-1")</span>
            </a>
        </td>
    </tr>
    @agentDetails.identification.map{ nonUKId =>
    <tr>
        <td id="agency-nonuk-header" class="text-bold td-top">@Messages("agent.edit-details.ocr.details")</td>
        <td id="agency-nonuk-val" colspan="2">
            <div class="form-group">
                <div id="agency-nuk-idNumber">@nonUKId.idNumber</div>
                <div id="agency-nuk-issuingInst">@nonUKId.issuingInstitution</div>
                <div id="agency-nuk-country">@nonUKId.issuingCountryCode</div>
            </div>
        </td>
        <td valign="top">
            <a href='@routes.UpdateOcrDetailsController.view(service)' id="overseas-tax-reference-edit" aria-label='@Messages("ated.review-details.edit-overseas-tax-reference.title")'>@Messages("edit-link")
                <span class="screen-reader-text">@Messages("edit-link")</span>
            </a>
        </td>
    </tr>
    }
</table>
}
