@import uk.gov.hmrc.agentclientmandate.service._
@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.utils.AgentClientMandateUtils._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@(service: String, mandatesList: Option[Mandates], agentDetails: AgentDetails)(implicit request: Request[_])

@main_template(title = Messages("client.summary.title", service.toUpperCase), sidebarLinks = Some(_agentSummary_sidebar(agentDetails))){

<div class="heading-sub" id="pre-header">@agentDetails.agentName</div>
  <h1 class="heading-xlarge" id="header">
  @Messages("client.summary.title", service.toUpperCase)
  </h1>

  @mandatesList.map { mandate =>

    <a href="@routes.CollectAgentEmailController.view(service)" id="add-client-link" class="link">@Messages("client.summary.add-client")</a>

    <div data-tabs>
      <ul class="tabs-nav" role="tablist">

        @if(mandate.pendingMandates.isEmpty){
          <li id="clients" data-tab-link="1" role="tab" aria-selected="true" aria-controls="tabContent1" tabindex="0">
            <span class="tabs-nav__tab tabs-nav__tab--active" data-clients="@mandate.activeMandates.size">
              @Messages("client.summary.client-active.title", mandate.activeMandates.size)
            </span>
        } else {
          <li id="clients" data-tab-link="1" role="tab" aria-selected="false" aria-controls="tabContent1" tabindex="1">
            <span class="tabs-nav__tab" data-clients="@mandate.activeMandates.size">
              @Messages("client.summary.client-active.title", mandate.activeMandates.size)
            </span>
          </li>
        }

        @if(mandate.pendingMandates.isEmpty){

        } else {
          <li id="pending-clients" data-tab-link="2" role="tab" aria-selected="true" aria-controls="tabContent2" tabindex="0">
            <span class="tabs-nav__tab tabs-nav__tab--active" data-pending-clients="@mandate.pendingMandates.size">
              @Messages("client.summary.client-pending.title", mandate.pendingMandates.size)
            </span>
          </li>
        }
      </ul>

      <div id="tabContent1" data-tab-content="1" role="tabpanel" aria-labelledby="clients">
        <table>
          <thead>
            <tr>
              <th id="yourClients-name">@Messages("client.summary.client-name.title")</th>
              <th id="yourClients-action">@Messages("client.summary.client-action.title")</th>
              <td id="noHeader" colspan="2">  </td>
            </tr>
          </thead>
          <tbody>
          @for((active, index) <- mandate.activeMandates.zipWithIndex) {
            <tr>
              <td id="client-name-@index">@active.clientDisplayName</td>
              <td id="remove-client">
                <a id="remove-client-link-@index" href="@routes.RemoveClientController.view(service, active.id)">
                  @Messages("client.summary.client-remove") <span class="screen-reader-text">@active.clientDisplayName</span>
                </a>
              </td>
              <td id="edit-client">
                <a id="edit-client-link-@index" href="@routes.EditMandateDetailsController.view(service, active.id)">
                  @Messages("Edit") <span class="screen-reader-text">@active.clientDisplayName</span>
                </a>
              </td>
              <td class="tdRight">
                <a id="client-link-@index"
                   href='@routes.AgentSummaryController.doDelegation(service, active.subscription.referenceNumber.getOrElse(""), active.clientParty.map(_.name).getOrElse(""))'
                >
                  <button type="submit" id="client-view-@index">@Messages("client.summary.client-view")
                    <span class="screen-reader-text">@Messages("client.summary.client-details-for") @active.clientDisplayName</span>
                  </button>
                </a>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
      <div id="tabContent2" data-tab-content="2" role="tabpanel" aria-labelledby="clients">
        <table>
          <thead>
            <tr>
              <th id="client-name">@Messages("client.summary.client-name.title")</th>
              <th id="client-action">@Messages("client.summary.client-action.title")</th>
              <td id="noHeader2" colspan="2">  </td>
            </tr>
          </thead>
          <tbody>
          @for((pending, index) <- mandate.pendingMandates.zipWithIndex) {
            <tr id="pending-client-data-@index">
              <td>@pending.clientDisplayName</td>
              @if(statusCantBeActioned(pending.currentStatus.status)){
                <td></td>
              } else {
                <td id="reject-client">
                  <a id="reject-client-link-@index" href="@routes.RejectClientController.view(service, pending.id)">
                    @Messages("client.summary.client-reject")
                  </a>
                </td>
              }
              @if(statusCantBeActioned(pending.currentStatus.status)) {
                <td>@Messages("client.summary.client.pending-status")</td>
              } else {
                <td id ="accept-client">
                  <a href="@routes.AcceptClientController.view(service, pending.id)" id="accept-@(index+1)">
                    <button type="submit" class="button" value="Accept">@Messages("client.summary.client-accept")</button>
                  </a>
                </td>
              }
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  }.getOrElse {
    <h3 class="heading-medium">@Messages("client.summary.no-clients")</h3>

    <a href="@routes.CollectAgentEmailController.view(service)" id="add-client-btn" class="button">@Messages("client.summary.add-client")</a>
  }

}
