@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@(agentEmailForm: Form[AgentEmail], service: String, redirectUrl: Option[String], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@implicitFormInstance = @{ Some(agentEmailForm) }

@main_template(title = Messages("agent.enter-email.title"), delegatedService = Some(service)) {


  @pageHeadersAndError(backLink, "pre-header", Messages("agent.add-a-client.sub-header"),
    Some(mandateErrorSummary(agentEmailForm, "agent.enter-email.error.general")))
  <h1 class="heading-xlarge" id="header">
    @Messages("agent.enter-email.header")
  </h1>



  <div class="form-group">
    <span id="info" class="paragraph">
      @Messages("agent.enter-email.info.text")
    </span>
  </div>

  @form(action = routes.CollectAgentEmailController.submit(service, redirectUrl)) {

    <div id="agent-enter-email-form" class="form-group">

      @mandateInput(agentEmailForm("email"),
        '_label -> Messages("agent.enter-email.field.email.label"),
        '_showConstraints -> false)

    </div>

    <div class="form-group">
      <button class="button" id="submit" type="submit">@Messages("continue-button")</button>
    </div>

  }

}
