@()(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._


@main_template(title = Messages("Check your clients details")) {

    <h1 id="header" class="heading-xlarge">
        <span class="pre-heading" id="pre-heading">@Messages("Add a client")</span>
        @Messages("Check your clients details")
    </h1>

    <table>
        <tr>
            <th id ="your-email">@Messages("agent.check-client-details.your-email")</th>
            <td id ="email-address">@Messages("fred@johnsmith.com")</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <th id ="registered-name">@Messages("agent.check-client-details.registered-name")</th>
            <td id="name">@Messages("ACME Limited")</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <th id ="utr">@Messages("agent.check-client-details.utr")</th>
            <td id ="tax-ref">1234567890</td>
            <td><a href="#">Edit</a></td>
        </tr>
    </table>

    <div class="form-group">
        <button class="button" id="submit" type="submit" onclick="ga('send', 'event', 'Client - requests agent - review', 'button clicked')">
            @Messages("agent.check-client-details.confirm")
        </button>
    </div>

    <div class="form-field">
        <a href="@uk.gov.hmrc.agentclientmandate.controllers.client.routes.AgentReferenceController.agentReference" id="back" class="back-link">@Messages("mandate.back")</a>
    </div>

}