@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(clientPermissionForm: Form[ClientPermission], service: String, callingPage: String, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@implicitFormInstance = @{ Some(clientPermissionForm) }

@pageScripts = {
<script src='@uk.gov.hmrc.agentclientmandate.controllers.routes.AssetsController.at("javascript/client-permission.js")'></script>
}

@main_template(title = Messages("agent.client-permission.title"), scriptElem = Some(pageScripts), delegatedService = Some(service)) {

  @pageHeadersAndError(backLink,"pre-header", Messages("agent.add-a-client.sub-header"), "header", Messages("agent.client-permission.header"),

  Some(mandateErrorSummary(clientPermissionForm, "agent.client-permission.error.general")))

  <p id="permission-text">
    @Html(Messages("agent.client-permission.hasPermission.selected.ated.yes.notice"))
  </p>

  @form(action = routes.ClientPermissionController.submit(service, callingPage)) {

  <div class="form-group" id="hasPermission">
    @mandateInputRadioGroup(
    clientPermissionForm("hasPermission"),
    Seq("true" -> Messages("radio-yes"),
    "false" -> Messages("radio-no")),
    '_groupClass -> "inline",
    '_legend -> Messages("agent.client-permission.header"),
    '_legendClass -> "visuallyhidden",
    '_labelClass -> "block-label",
    '_labelAfter -> true,
    '_trackGA -> true
    )
  </div>

  <div class="form-group">
    @if(service.toUpperCase == "ATED") {
    <div id="client-permission-false-hidden">
      <div class="icon-important"></div>
      <div class="ated-icon-important-text"><strong>@Html(Messages("agent.client-permission.hasPermission.selected.ated.no.notice"))</strong></div>
    </div>
    }
  </div>

  <button class="button" id="continue" type="submit">@Messages("continue-button")</button>

  <div id="view-all-clients-div">
    <a id="submit" class="button view-all-clients" href="@routes.AgentSummaryController.view(service)" data-journey-click="agent-client-mandate:click:view-all-clients">@Messages("agent.all-my-clients.button")</a>
  </div>

}

}
