@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.play.binders.ContinueUrl
@(clientDisplayNameForm: Form[ClientDisplayName], service: String, redirectUrl: Option[ContinueUrl], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@implicitFormInstance = @{ Some(clientDisplayNameForm) }

@main_template(title = Messages("agent.client-display-name.title"), delegatedService = Some(service)) {

    @pageHeadersAndError(backLink,"pre-header", Messages("agent.add-a-client.sub-header"), "header", Messages("agent.client-display-name.header"),
        Some(mandateErrorSummary(clientDisplayNameForm, "agent.client-display-name.error.general")))

    <p id="info">
       @Messages("agent.client-display-name.text", service.toUpperCase)
    </p>

    @form(action = routes.ClientDisplayNameController.submit(service, redirectUrl)) {
        <div id="client-display-name-form" class="form-group">
            @mandateInput(clientDisplayNameForm("clientDisplayName"),
            '_label -> Messages("agent.client-display-name.change"),
            '_labelClass ->  "visuallyhidden",
            '_showConstraints -> false)
        </div>
        <button class="button" id="submit" type="submit">@Messages("continue-button")</button>
    }

}