@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.service._

@(editMandateDetailsForm: Form[EditMandateDetails], service: String, mandateId: String, clientDisplayName: String, clientParty: Option[String], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("agent.edit-mandate-details.title", clientDisplayName, clientParty), delegatedService = Some(service)) {
  @pageHeadersAndError(backLink, "pre-header", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase),
    Some(mandateErrorSummary(editMandateDetailsForm, "agent.edit-client.error.general")))
  <h1 class="heading-xlarge" id="header">
    @Messages("agent.edit-mandate-details.header", clientDisplayName)
  </h1>


  <div class="form-field">
    <span class="heading-medium" id="sub-heading">@Messages("agent.edit-mandate-details.sub-heading", mandateId)</span>
  </div>

  @if(clientParty.isDefined){
  <div class="form-field">
    <paragraph id="sub-heading-client-name">@Messages("agent.edit-mandate-details.sub-heading-client-name", clientParty)</paragraph>
  </div>
  }

  @form(action = routes.EditMandateDetailsController.submit(service, mandateId)) {
  <div class="form-group">

    <div class="form-field">
    @mandateInput(editMandateDetailsForm("displayName"),
    '_label -> Messages("agent.edit-mandate-details.displayName"),
    '_labelClass -> "form-label-bold",
    '_hintText -> Messages("agent.edit-mandate-details.hint"),
    '_showConstraints -> false)
    </div>

    <div class="form-field">
    @mandateInput(editMandateDetailsForm("email"),
    '_label -> Messages("agent.edit-mandate-details.email"),
    '_labelClass -> "form-label-bold",
    '_showConstraints -> false)
    </div>

  <div class="form-field">
    <a id="remove-client-link" href="@routes.RemoveClientController.view(service, mandateId)" data-journey-click="agent-client-mandate:click:remove-client-link">
      @Messages("client.summary.client-remove")
    </a>
  </div>
    <button class="button" id="submit" type="submit">@Messages("agent.edit-mandate-details.submit")</button>

  </div>
  }
}

