@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.service._

@(editMandateDetailsForm: Form[EditMandateDetails], service: String, mandateId: String, clientDisplayName: String, clientParty: Option[String], backLink: Option[String], showRemoveClient: Boolean)(implicit request: Request[_], messages: Messages)

@analyticsJs = {
  var id = "@mandateId";
  var page = document.location.pathname.replace('/' + id, '');
  ga('set', 'page', page);
}

@main_template(title = Messages("agent.edit-mandate-details.title"),
  delegatedService = Some(service),
  analyticsAdditionalJs = Some(analyticsJs)) {

  @pageHeadersAndError(backLink, "pre-header", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase), "header", Messages("agent.edit-mandate-details.header"),
    Some(mandateErrorSummary(editMandateDetailsForm, "agent.edit-client.error.general")))

  <div class="form-group">
    <h2 id="sub-heading">@Messages("agent.edit-mandate-details.sub-heading", mandateId)</h2>
  </div>

  @form(action = routes.EditMandateDetailsController.submit(mandateId)) {
  <fieldset>
    <legend class="visuallyhidden">@Messages("agent.edit-mandate-details.header")</legend>

    @mandateInput(editMandateDetailsForm("displayName"),
    '_label -> Messages("agent.edit-mandate-details.displayName"),
    '_labelClass -> "form-label-bold",
    '_hintText -> Messages("agent.edit-mandate-details.hint"),
    '_showConstraints -> false)

    @mandateInput(editMandateDetailsForm("email"),
    '_label -> Messages("agent.edit-mandate-details.email"),
    '_labelClass -> "form-label-bold",
    '_showConstraints -> false)

  </fieldset>

    @if(showRemoveClient){
      <div class="form-field">
        <a id="remove-client-link" href="@routes.RemoveClientController.view(mandateId)" data-journey-click="agent-client-mandate:click:remove-client-link">
          @Messages("client.summary.client-remove")
        </a>
      </div>
    }

    <button class="button" id="submit" type="submit">@Messages("agent.edit-mandate-details.submit")</button>

  }
}

