@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@()(implicit request: Request[_])

@main_template(title = Messages("Edit")) {

<h1 id="header" class="heading-xlarge">
    <span class="pre-heading" id="pre-heading">@Messages("Manage your ATED service")</span>
    @Messages("Edit ACME Limited")
</h1>

}

