@(email: String, service: String, displayName: String)(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._


@main_template(title = Messages("agent.check-client-details.header")) {

<div class="heading-sub" id="pre-header">@Messages("agent.add-a-client.sub-header")</div>
  <h1 class="heading-xlarge" id="header">
    @Messages("agent.check-client-details.header")
   </h1>

  <table>
    <tr>
      <td id ="service-label"><strong>@Messages("agent.check-client-details.service")</strong></td>
      <td id ="service">@service.toUpperCase</td>
      <td></td>
    </tr>
    <tr>
      <td id ="email-address-label"><strong>@Messages("agent.check-client-details.your-email")</strong></td>
      <td id ="email-address">@email</td>
      <td><a href="@routes.CollectAgentEmailController.view(service)">Edit</a></td>
    </tr>
    <tr>
      <td id ="display-name-label"><strong>@Messages("agent.check-client-details.display-name")</strong></td>
      <td id ="display-name">@displayName</td>
      <td><a href="@routes.ClientDisplayNameController.view(service)">Edit</a></td>
    </tr>
  </table>

  @form(action = routes.MandateDetailsController.submit(service)) {

    <div class="form-group">
      <button class="button" id="submit" type="submit">
        @Messages("agent.check-client-details.confirm")
      </button>
    </div>
  }
}
