@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(overseasClientQuestionForm: Form[OverseasClientQuestion], service: String, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@implicitFormInstance = @{ Some(overseasClientQuestionForm) }

@main_template(title = Messages("agent.overseas-client-question.title"), delegatedService = Some(service)) {
  @backLinkAndSubHeader(backLink, "pre-header", Messages("agent.add-a-client.sub-header"))
  <h1 class="heading-xlarge" id="header">
    @Messages("agent.overseas-client-question.header")
  </h1>

  @mandateErrorSummary(overseasClientQuestionForm, "agent.overseas-client-question.error.general")

  @form(action = routes.OverseasClientQuestionController.submit(service)) {

    <div class="form-group" id="isOverseas">
      @mandateInputRadioGroup(
      overseasClientQuestionForm("isOverseas"),
        Seq("true" -> Messages("radio-yes"),
        "false" -> Messages("radio-no")),
        '_groupClass -> "inline",
        '_legend -> Messages("agent.overseas-client-question.header"),
        '_legendClass -> "screen-reader-text",
        '_labelClass -> "block-label",
        '_labelAfter -> true,
        '_trackGA -> true
      )
    </div>

    <div class="form-group">
      <button class="button" id="submit" type="submit">@Messages("continue-button")</button>
    </div>

  }

}
