@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(paySAQuestionForm: Form[PaySAQuestion], service: String, backLink:Option[String]=None)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@implicitFormInstance = @{ Some(paySAQuestionForm) }

@main_template(title = Messages("agent.paySA-question.title"), delegatedService = Some(service)) {
    @pageHeadersAndError(backLink, "pre-header", Messages("agent.add-a-client.sub-header"), "header", Messages("agent.paySA-question.header"),
        Some(mandateErrorSummary(paySAQuestionForm, "agent.paySA-question.error.general")))

@form(action = routes.PaySAQuestionController.submit()) {

<div class="form-group" id="paySA">
    @mandateInputRadioGroup(
    paySAQuestionForm("paySA"),
    Seq("true" -> Messages("radio-yes"),
    "false" -> Messages("radio-no")),
    '_groupClass -> "inline",
    '_legend -> Messages("agent.paySA-question.header"),
    '_legendClass -> "visuallyhidden",
    '_labelClass -> "block-label",
    '_labelAfter -> true,
    '_trackGA -> true
    )
</div>

    <button class="button" id="submit" type="submit">@Messages("continue-button")</button>

}

}
