@import uk.gov.hmrc.agentclientmandate.utils.DateUtils
@import org.joda.time.DateTime
@(service: String, clientName: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.views.html._

@main_template(title = Messages("agent.reject-client-confirmation.title"), delegatedService = Some(service)) {

    <div class="transaction-banner--complete" id="banner">
        <h1 id="banner-text"> @Messages("agent.reject-client-confirmation.banner-text", clientName) </h1>
        <span class="heading-medium" id="banner-text-date"> @Messages("agent.reject-client-confirmation.banner-text-date", DateUtils.getDateAsText(DateTime.now)) </span>
    </div>

    <div class="form-group">
        <span id="notification" class="heading-small">@Messages("agent.reject-client-confirmation.notification")</span>
    </div>

    <div class="form-group">

        <div class="divider--top--thick">
            <h2 id="heading" class="heading-medium">@Messages("agent.reject-client-confirmation.what-next")</h2>
        </div>

        <ul id="list" class="bullets">
            <li>@Messages("agent.reject-client-confirmation.request-new-client")</li>
            <li>@Messages("agent.reject-client-confirmation.submit-returns")</li>
        </ul>
        
    </div>

    <div class="form-group">
        <form action="@routes.AgentSummaryController.view(service)">
            <button class="button" id="finish_btn" type="submit">@Messages("agent.reject-client-confirmation.view-all-clients")</button>
        </form>
    </div>

}