@(service: String, mandateId: String, clientName: String, isNonUkClient: Boolean)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.utils.DateUtils
@import org.joda.time.DateTime

@main_template(title = Messages("agent.remove-client-confirmation.title"), delegatedService = Some(service)) {

    <div class="transaction-banner--complete" id="banner">
        <h1 id="banner-text">
            @Html(Messages("agent.remove-client-confirmation.banner-text", clientName, DateUtils.getDateAsText(DateTime.now)))
        </h1>
    </div>

    <p id="notification">@Messages("agent.remove-client-confirmation.notification")</p>

    @if(isNonUkClient) {
        <p id="non-uk-with-reference">@Messages("agent.remove-client-confirmation.non-uk-client-old-unique-refno", mandateId)</p>
    }

    <a href="@routes.AgentSummaryController.view(service)" class="button" id="finish_btn" >@Messages("agent.remove-client-confirmation.view-all-clients")</a>

}