@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(removeClientForm: Form[YesNoQuestion], service: String, clientName: String, mandateId: String, backLink:Option[String])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("agent.remove-client.header", clientName), delegatedService = Some(service)) {
    @pageHeadersAndError(backLink, "pre-header", Messages("agent.edit-mandate-details.pre-header", service.toUpperCase),
        Some(mandateErrorSummary(removeClientForm, "yes-no.error.general", Some("agent.remove-client.error"))))
    <h1 class="heading-xlarge" id="header">
        @Messages("agent.remove-client.header", clientName)
    </h1>



    @form(action = routes.RemoveClientController.confirm(service, mandateId)) {

        <div class="form-group" id="yesNo">
        @mandateInputRadioGroup(
            removeClientForm("yesNo"),
            Seq("true" -> Messages("radio-yes"),
                "false" -> Messages("radio-no")),
            '_groupClass -> "inline",
            '_legendClass -> "screen-reader-text",
            '_legend -> Messages("agent.remove-client.header", clientName),
            '_labelClass -> "block-label",
            '_labelAfter -> true,
            '_trackGA -> true
        )
        </div>

        <div class="form-group">
            <button class="button" id="submit" type="submit">@Messages("confirm-button")</button>
        </div>

    }

}