@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(service: String, mandateRefForm: Form[MandateReference], callingPage: String, backLink:Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@main_template(title = Messages("agent.search-previous-mandate.title"), delegatedService = Some(service)) {
  @pageHeadersAndError(backLink, "pre-heading", Messages("agent.add-a-client.sub-header"), "header", Messages("agent.search-previous-mandate.header"),
    Some(mandateErrorSummary(mandateRefForm, "agent.search-previous-mandate.error")))

    <p>@Messages("agent.search-previous-mandate.header.lede")</p>

  @form(action = routes.PreviousMandateRefController.submit(service, callingPage)) {

    @mandateInput(mandateRefForm("mandateRef"),
    '_label -> Messages("agent.search-previous-mandate.label"),
    '_labelClass -> "visuallyhidden",
    '_showConstraints -> false)

    <button class="button" id="submit" type="submit">@Messages("continue-button")</button>

  }
}
