@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms._

@(selectServiceForm: Form[AgentSelectService])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.views.html.helpers._
@import uk.gov.hmrc.play.views.html.helpers._

@implicitFormInstance = @{ Some(selectServiceForm) }

@main_template(title = Messages("agent.select-service.title")) {

@mandateErrorSummary(selectServiceForm, "agent.select-service.error.general")

  <div class="heading-sub" id="pre-header">@Messages("agent.add-a-client.sub-header")</div>
  <h1 class="heading-xlarge" id="header">
    @Messages("agent.select-service.header")
  </h1>

  @form(action = routes.SelectServiceController.submit()) {

    <div class="form-group" id="service">
      @mandateInputRadioGroup(
      selectServiceForm("service"),
        Seq("ated" -> Messages("agent.select-service.services.ated")
        ),
        '_groupClass -> "inline",
        '_legendClass -> "screen-reader-text",
        '_legend -> Messages("agent.select-service.header"),
        '_labelClass -> "block-label",
        '_labelAfter -> true
      )
    </div>

    <div class="form-group">
      <button class="button" id="submit" type="submit">@Messages("submit-button")</button>
    </div>

  }

}

