@(clientDisplayDetails: uk.gov.hmrc.agentclientmandate.viewModelsAndForms.ClientDisplayDetails, service: String)(implicit request: Request[_])

@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms.ClientDisplayDetails
@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes

@import uk.gov.hmrc.agentclientmandate.views.html._


@main_template(title = Messages("agent.unique-reference.title")) {


<div class="transaction-banner--complete" id="banner">
  <h1 id="banner-text"><img class="tick" alt="tick" src='@controllers.routes.Assets.at("images/tick.png")'> @Html(Messages("agent.unique-reference.header", clientDisplayDetails.name, clientDisplayDetails.mandateId)) </h1>
</div>

  <p class="heading-medium" id="what-happens-next">@Messages("agent.unique-reference.next.heading.text")</p>

  <p id="authorise-instruction">@Messages("agent.unique-reference.text1")</p>

<div class = "form-group">
  <p id="client-instruction">@Messages("agent.unique-reference.text2")</p>

  <ol class="list-number">
    <li id="client-instruction-1">@Html(Messages("agent.unique-reference.ated.list.text1", service))</li>
    <li id="client-instruction-2">@Messages("agent.unique-reference.ated.list.text2")</li>
  </ol>
</div>

  <p id="email-instruction">@Messages("agent.unique-reference.text3")</p>
  <p id="request-expire">@Messages("agent.unique-reference.text4")</p>
  <p id="admin-instruction">@Html(Messages("agent.unique-reference.text5", service))</p>

  <div class="form-group">
    <a class="button" id="submit" href="#">@Messages("agent.unique-reference.button")</a>
  </div>



}
