@(clientDisplayDetails: uk.gov.hmrc.agentclientmandate.viewModelsAndForms.ClientMandateDisplayDetails, service: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.agentclientmandate.models._
@import uk.gov.hmrc.agentclientmandate.viewModelsAndForms.ClientMandateDisplayDetails
@import uk.gov.hmrc.agentclientmandate.controllers.agent.routes
@import uk.gov.hmrc.agentclientmandate.views.html._
@import uk.gov.hmrc.agentclientmandate.utils.DelegationUtils

@main_template(title = Messages("agent.unique-reference.title", clientDisplayDetails.mandateId), delegatedService = Some(service)) {

    <div class="transaction-banner--complete" id="banner">
      <h1 id="banner-text">
        @Html(Messages("agent.unique-reference.header", clientDisplayDetails.name, clientDisplayDetails.mandateId))
      </h1>
    </div>

    <div class="form-group">

      <h2 id="what-you-must-do">@Messages("agent.unique-reference.next.heading.text")</h2>

      <p id="agent-instruction-1">@Html(Messages("agent.unique-reference.do-next1",clientDisplayDetails.mandateId))</p>

      <p id="agent-instruction-2">@Messages("agent.unique-reference.do-next2")</p>

      <h2 id="tell-your-client">@Messages("agent.unique-reference.tell-client")</h2>

      <ol>
        <li id="agent.unique-reference.details.text.1">@Messages("agent.unique-reference.details.text.1")</li>
        <li id="agent.unique-reference.details.text.2">@Messages("agent.unique-reference.details.text.2", service.toUpperCase)</li>
        <li id="agent.unique-reference.details.text.3">@Messages("agent.unique-reference.details.text.3")</li>
        <li id="agent.unique-reference.details.text.4">@Messages("agent.unique-reference.details.text.4", clientDisplayDetails.mandateId)</li>
      </ol>
    </div>

    <a href="@routes.AgentSummaryController.view(service)" class="button" id="submit">@Messages("agent.unique-reference.button")</a>

}
